<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>Reset password</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>Not found!</h2>
      <p>It seems that token is invalid.</p>
    </div>
  </div>
</div>
