<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>Reset password</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <% if @result.errors %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <%= @result.errors.full_messages.join %>
        </div>
      <% end %>
      <%= form_tag "/reset_password/#{@result.token}", method: 'post' do %>
        <div class="form-group">
          <%= label_tag :password, 'Password' %>
          <%= password_field_tag :password, '', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag :password_confirmation, 'Password confirmation' %>
          <%= password_field_tag :password_confirmation, '', class: 'form-control' %>
        </div>
        <%= submit_tag 'Submit', class: 'btn btn-default' %>
    <% end %>
    </div>
    <div class="col-md-6 col-sm-12">
      <p>Reset your password!</p>
    </div>
  </div>
</div>
