--- 
user: app
group: app
pid: /home/app/thin.pid
timeout: 30
wait: 30
log: /home/app/thin.log
max_conns: 1024
require: []
environment: <%= node['www_environment'] %>
max_persistent_conns: 512
servers: 1
threaded: true
no-epoll: true
daemonize: true
socket: /home/app/thin.sock
chdir: /var/www/table_football/current
tag: table_football_thin aux
