<div class="main-page">
  <div class="table-container">
    <div class="table-cell">
      <img src="<%= image_path('football_table.jpg') %>">
      <h1>
        TABLE FOOTBALL
      </h1>
      <a href="/apidoc/index.html">Check apidoc</a>
    </div>
  </div>
</div>
