/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require_tree .
 *= require_self
 */

html, body, .main-page, .main-page .table-container{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.main-page img{
  display: inline-block;
  width: 300px;
  height: 300px;
}

.main-page .table-container{
  display: table;
}

.main-page .table-cell{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

h1, a{
  font-family: PT Sans;
}

a{
  text-decoration: none;
}
