.google-sign-in-button
  display: block
  background: image-url('google/Red-signin-Google-base-44dp.png')
  width: 320px
  height: 108px
  &:hover
    background: image-url('google/Red-signin-Google-hover-44dp.png')
  &:active
    background: image-url('google/Red-signin-Google-press-44dp.png')

