<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Invitation accept</h1>
      <p>Do you want to accept invitation as <b><%= @result.user.name %></b> to group <b><%= @result.invitation.group.name %></b>?</p>
      <a href="/group_invitations/<%= @token %>?accept=yes" class="btn btn-default">Accept invitation</a>
      <a href="/sign_out?redirect_path=/group_invitations/<%= @token %>" class="btn btn-default">Sign out and accept as other user</a>
    </div>
  </div>
</div>
