<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>Table football <small>group invitation</small></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <h2>Sign in:</h2>
      <% if @result.sign_in_failed %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Email or password are incorrect.
        </div>
      <% end %>
      <%= form_tag("/group_invitations/#{@token}", method: 'post', class: 'sign-in-form') do %>
        <div class="form-group">
          <%= label_tag :email, 'Email' %>
          <%= text_field_tag :email, @result.sign_in_email, class: 'form-control' %>
        </div>
        <div class="form-gorup">
          <%= label_tag :password, 'Password' %>
          <%= password_field_tag :password, nil, class: 'form-control' %>
        </div>
        <%= submit_tag 'Sign in', class: 'btn btn-default' %>
      <% end %>

    </div>
    <div class="col-md-4 col-sm-12">
      <h2>Sign up:</h2>
      <%= form_tag("/group_invitations/#{@token}", method: 'post', class: 'sign-up-form' ) do %>
        <div class="form-group <%= @result.sign_up_errors and @result.sign_up_errors[:email].empty? ? '' : 'has-error' %>">
          <%= label_tag :email, 'Email', class: 'control-label'  %>
          <%= text_field_tag :email, @result.sign_up_email, class: 'form-control' %>
        </div>
        <% unless @result.sign_up_errors.nil? or @result.sign_up_errors[:email].empty? %>
          <div class="form-group-errors">
            Email <%= @result.sign_up_errors[:email].join(', ') %>.
          </div>
        <% end %>
        <div class="form-gorup <%= @result.sign_up_errors and @result.sign_up_errors[:password].empty? ? '' : 'has-error' %>">
          <%= label_tag :password, 'Password', class: 'control-label' %>
          <%= password_field_tag :password, nil, class: 'form-control' %>
        </div>
        <% unless @result.sign_up_errors.nil? or @result.sign_up_errors[:password].empty? %>
          <div class="form-group-errors">
            Password <%= @result.sign_up_errors[:password].join(', ') %>.
          </div>
        <% end %>
        <div class="form-gorup <%= @result.sign_up_errors and @result.sign_up_errors[:password_confirmation].empty? ? '' : 'has-error' %>">
          <%= label_tag :password_confirmation, 'Password confirmation', class: 'control-label' %>
          <%= password_field_tag :password_confirmation, nil, class: 'form-control' %>
        </div>
        <% unless @result.sign_up_errors.nil? or @result.sign_up_errors[:password_confirmation].empty? %>
          <div class="form-group-errors">
            Password confirmation <%= @result.sign_up_errors[:password_confirmation].join(', ') %>.
          </div>
        <% end %>
        <div class="form-gorup <%= @result.sign_up_errors and @result.sign_up_errors[:first_name].empty? ? '' : 'has-error' %>">
          <%= label_tag :first_name, 'First name', class: 'control-label' %>
          <%= text_field_tag :first_name, @result.sign_up_first_name, class: 'form-control' %>
        </div>
        <% unless @result.sign_up_errors.nil? or @result.sign_up_errors[:first_name].empty? %>
          <div class="form-group-errors">
            First name <%= @result.sign_up_errors[:first_name].join(', ') %>.
          </div>
        <% end %>
        <div class="form-gorup <%= @result.sign_up_errors and @result.sign_up_errors[:last_name].empty? ? '' : 'has-error' %>">
          <%= label_tag :last_name, 'Last name', class: 'control-label' %>
          <%= text_field_tag :last_name, @result.sign_up_last_name, class: 'form-control' %>
        </div>
        <% unless @result.sign_up_errors.nil? or @result.sign_up_errors[:last_name].empty? %>
          <div class="form-gorup-errors">
            Last name <%= @result.sign_up_errors[:last_name].join(', ') %>.
          </div>
        <% end %>
        <%= submit_tag 'Sign up', class: 'btn btn-default' %>
      <% end %>
    </div>
    <div class="col-md-4">
      <h2>Sign in with Google+</h2>
      <a href="/group_invitations/<%= @token %>/google" class="google-sign-in-button"></a>
    </div>
  </div>
  <%= @uri %>
</div>
