<div class="container">
  <div class="row">
    <div class="col-xs-12"> 
      <h1>Not found</h1>
      <p>It seems that you haven't been invited or you have already accepted it.</p>
    </div>
  </div>
</div>
