<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Success!</h1>
      <p>You have been added to group <b><%= @result.invitation.group.name %></b></p>
    </div>
  </div>
</div>
